body {
  height: 100vh;
}
.gif-container {
  margin-bottom: 10px;
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.gif-caption {
  display: inline-block;
  width: 100%;
  font-size: small;
}
.gif,
.gif-thumb {
  height: 90%;
}
