body {
  height: 100vh;
}
#topics {
  margin: 10px;
}
#topics .btn {
  margin-right: 10px;
  margin-bottom: 10px;
}
.gif-container {
  margin-bottom: 10px;
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.gif-caption {
  display: inline-block;
  width: 100%;
  font-size: small;
}
.gif,
.gif-thumb {
  height: 88%;
}
